body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
dl,
li,
dt,
dd,
p,
form,
input,
textarea,
select,
tr,
td,
th,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    background-color: #f7f8f8;
  

}

html,
body {
    width: 100%;
}

ul,
ol {
    list-style: none;
}

a,
u {
    text-decoration: none;
    color: black;
}

b,
strong {
    font-weight: normal;
}

i,
em {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 16px;
}

img {
    border: 0;
    vertical-align: middle;
}

input,
textarea,
fieldset {
    border: none;
    outline: none;
}

.clearfn:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearfn {
    zoom: 1;
}


$webMaxWidth:100%;

$webWidth:1200px;

$green:#008842;


//顶部登录注册位置选择
header {
    width: $webMaxWidth;
    background-color: #f7f9f8;
     
    #web-width {
        clear: both;
        width: $webWidth;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        margin: 0 auto;
        box-sizing: border-box;
       
        div:nth-child(1) {
            float: left;
            margin-right: 198px;

            ul {
                li:nth-child(1) {
                    margin-right: 18px;
                }

                li:nth-child(2) {
                    color: $green;
                    margin-right: 18px;
                }

                li:nth-child(3) {
                    i {
                        width: 16px;
                        height: 16px;

                        img {
                            width: 16px;
                            height: 16px;
                        }

                    }

                    a:hover {
                        color: $green;
                    }
                }

                li {
                    float: left;
                }
            }
        }

        div:nth-child(2) {
            float: left;
            width: 80px;
            height: 30px;

            a:hover {
                color: $green
            }
        }

        div:nth-child(3) {
            float: right;

            ul {


                li:nth-child(1) {
                    padding: 0 10px;
                    position: relative;

                    border-left:1px solid rgba(0, 0, 0, 0) ;
                    border-right:1px solid rgba(0, 0, 0, 0);
                 
                    
                    ul{
                        display: none;
                        width: 80px;
                        z-index: 300;
                        padding: 5px 12px;
                        text-align: left;
                        position: absolute;
                        top: 30px;
                        left: 0;
                        border: 1px solid #b4c1a3;
                        background: #fff;
                        li{ padding: 0;
                            border-left:1px solid rgba(0, 0, 0, 0) ;
                            border-right:1px solid rgba(0, 0, 0, 0);
                            display: block;
                            line-height: 25px;
                            color: #727272;
                            &:hover{
                             color: $green;
                             border-left:1px solid rgba(0, 0, 0, 0) ;
                             border-right:1px solid rgba(0, 0, 0, 0);

                            }
                        }
                        }
                        &:hover ul{
                            display: block;
                          }
      
      
                          &:hover{
                              border-left:1px solid #a6a6a6 ;
                              border-right:1px solid #a6a6a6 ;
                           
                          }
                    }
                 
                }
                li:nth-child(1) i {
                    background: url(../imges/ia_400000045.png)-40px 0;
                    margin-left: 0;
                    }
                

                li:nth-child(2) i {
                    background: url(../imges/ia_400000045.png)-64px 0;
                }

                li:nth-child(3) i {
                    background: url(../imges/ia_400000045.png)-147px 0;
                }

                li:nth-child(4) i {
                    background: url(../imges/ia_400000045.png)-86px 0;
                }

                li:nth-child(5) i {
                    background: url(../imges/ia_400000002.png);
                }

                li:nth-child(6) i {
                    background: url(../imges/ia_400000001.png);
                }

                li {
                    float: left;

                    &:hover {
                        color: $green;
                    }

                    i {
                        display: block;
                        width: 18px;
                        height: 18px;
                        float: left;
                        margin-top: 8px;
                        margin-right: 4px;
                        margin-left: 20px;

                    }

                    p {
                        float: left;
                    }
                }
            }
        }
    }


nav {
    position: relative;
    width: $webMaxWidth;
    height: 78px;
    background-color: rgb(224, 224, 224);

    #search {
        width: $webWidth;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        position: relative;

        div:nth-child(1) {
            img {
                margin-top: 15px;
            }

            ;

        }

        div:nth-child(2) {
            margin-top: 15px;

            input {
                width: 432px;
                height: 28px;
                border: 1px $green solid;
                float: left;
                padding-left: 15px;

            }

            .sear {
                float: left;
                width: 81px;
                height: 30px;
                background-color: $green;
                margin-top: 0;
                text-align: center;
                line-height: 30px;

            }

            p {
                font-size: 12px;

                a:hover {
                    color: $green;
                }

                a {
                    margin: 0px 5px 0 0;
                    line-height: 20px;
                }


            }

        }

        div:nth-child(3) {
         
            width: 172px;
            height: 42px;
            border: $green 1px solid;
            margin-top: 15px;
            text-align: center;
            line-height: 42px;
            font-size: 25px;
            position: relative;
            &:hover #car{
                display: block;
              
            }

            a {
                color: $green;
            }

            i {
                display: inline-block;
                width: 28px;
                height: 20px;
                background: url(../imges/ia_400000045.png) -112px 0;

                
            }

            #car{
                background: url(http://static01.yiguo.com/www/images/none-bg-w190.jpg);
                width: 380px;
                height: 120px;
                line-height: 120px;
                text-align: center;
                border: $green 0.5PX solid;
                position: absolute;
                top: 27px;
                left: -209px;
               // display: none;
                z-index: 99999999;
                
                font-size: 12px;
                img{
                    width: 42px;
                    height: 42px;
                    float: left;
                    margin-top: 20px;
                    margin-left: 15px;
                    
                }
            
                   
                   }
            }
            
        }

        #nav-1 {
            position: absolute;
            top: 78px;
            left: 0;
            width: 180px;
            height: 38px;
            text-align: center;
            line-height: 38px;
            font-size: 15px;
            background-color: $green;
            z-index: 999;
           

            &:hover #nav-2 {
                display: block;
            }
            #nav-2 {
                position: absolute;
                top: 38px;
                left: 0;
                width: 180px;
                height: 464px;
               display: none;
              box-sizing:border-box;
                background-color: rgba(254, 245, 235, 0.9);
                z-index: 1999;
                padding: 9px 0 9px 0px;
                ul a {
                    z-index: 2000;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    li {
                        text-align: start;
                        padding: 2px 0;

                        div {
                            position: absolute;
                            left: 180px;
                            top: -38px;
                            height: 500px;
                            width: 200px;
                            background-color: rgba(254, 245, 235, 0.9);
                            border: 1px solid #cccccc;
                           display: none;
                            padding-right: 60px;
                            padding-left: 15px;
                            h2{
                                margin: 12px 0 px;
                                font-size: 20px;
                                color: $green;
                            }
                            span{
                                display: inline-block;
                                line-height: 20px ;
                                margin-right: 30px;
                                color: #686868;
                                font-size: 9px;
                            }
                           
                        }
                        border-top: rgba(0,0,0,0) 1px solid;
                        border-bottom: rgba(0, 0, 0, 0) 1px solid;
                        &:hover {
                            background-color: rgb(255, 255, 254);
                            border-top: #cccccc 1px solid;
                            border-bottom: #cccccc 1px solid;
                          
                       }
                        &:hover div {
                            display: block;
                        }
                    }
                    i {
                        float: left;
                        margin-right: 15px;
                        margin-top: 10px;
                        margin-left: 15PX;
                        width: 24px;
                        height: 24px;
                        display: block;
                    }
                }
            }
        }

        .nav-right{
            position: absolute;
            top: 78px;
            left: 180px;
            width: 1020px;
            height: 37px;
            text-align: center;
            line-height: 38px;
            font-size: 15px;
   
            z-index: 100;
            
            border-bottom: 1px solid $green;
            li{float: left;
                width: 115px;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
            }
        }

    }



main{
  
    
    box-sizing: border-box;
    width: 100%;
    padding-top:38px ;
    .wrap{
        
        position: relative;
        margin: 0 auto;
        width:1200px;
        line-height: 35px;
        font-size: 12px;
        .big{
            width: 400px;
            height: 400px;
            overflow: hidden;
            position: absolute;
            top:35px ;
            left: 600px;
            display: none;
            z-index: 999;
            img{
                position: absolute;
                width: 1000px;
                height: 1000px;
            }

        }
        .small{
            position: relative;
            float: left;
            .mark {
                width: 200px;
                height: 200px;
                background-color: red;
                opacity: 0.5;
                filter: alpha(opacity=50);
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 1000;
                display: none
            }
    }
 
    .right{
        float: left;
        h2{
           font: normal 26px "Microsoft YaHei";
        margin-left:20px ;
        }
        p{
            margin-left:20px ;
            height: 40px;
            margin-top: 5px;
            color: #777;
            font: normal 16px/20px "Microsoft YaHei";
        }
        .price{   
            margin-top: 20px;
            box-sizing: border-box;;
            height: 90px;
            width: 680px;
            padding: 10px 20px;
            background: #fff;
            position: relative;
            margin-left:20px ;
        .cl1{
            float: left;
          
            width: 423px;
            p{
                span{
                    color: red;
                }
               }
               i{
                width: 423px;
                display: block;
                border-top: 1px solid $green;
                color: #999999;
                line-height: 10px;
                padding-top: 10px;  em{
              color:#444444;
              margin-left: 80px;
                };
            }
          
            }
            .cl2{
                position: absolute;
                left: 423px;
                background:url(http://static01.yiguo.com/www/images/bg-code.png)no-repeat ;
                width: 83px;
                height: 83px;
                img{width: 70px;height: 73px;
                    margin-left: 10px ;
                    margin-top: 3px ;
                }
                

            }
            .cl3{
              float: right;
              width: 80px;
              height: 80px;
              line-height: 30px;
              display: flex;
text-align: center;
              flex-direction:column;
              align-items: center;
              p{ color: #999;
                margin: 0;
            font-size: 12px;
            
           }
              i{
                  
                   color: red;
                  
              
               }
               span{
                color: #999;
                
              
                
               }

            }
        } 

        .price-2{
            margin-top: 20px;
            i{
                box-sizing: border-box;
                display: block;
                height: 52px;
                width: 60px;
                padding: 0 10px;
                line-height: 52px;
                float: left;
            }

            div{
                width: 63px;
                height: 51px;
                border: .5px solid $green;
                margin-left: 60px;
            }


             span{
                 display: block;
                 width: 63px;
                 text-align: center;
                 height: 25px;
                 line-height: 25px;
                 border-bottom: $green 1px solid;
             }

          

        }
        .price-3{
            position: relative;
            margin-top: 20px;
             i{
            box-sizing: border-box;
            display: block;
            height: 52px;
            width: 60px;
            padding: 0 10px;
            line-height: 52px;
            float: left;
        }
        input{
            width: 39px;
            height: 39px;
            line-height: 41px;
            font-size: 16px;
            text-align: center;
            border: none;
            -webkit-appearance: none;
            border: 1px solid #e2e2e2;
            border-right: none;
            display: block;
            float: left;
        }
        div{
           padding-top: 6px;
        button{
            display: block;
    width: 19px;
    height: 20.5px;
    line-height: 20px;
    text-align: center;
    float: left;
   
    border: 1px solid #e2e2e2;
    background-color: white;
   
        }
        button:nth-child(2){
            float: none;
        }
}
.b3{
    width: 187px ;
    height: 43px;
    text-align: center;
    background-color: $green;
    color: white;
    font-size: 18px;
    position: absolute;
    left: 140px;
    top: 5px;

}
        }
        }
        }
        }
    



footer {
    width: 100%;
    height: 42px;
    background-color: #e0e0e0;
    margin-top: 50px;
    padding: 30px 0;

    .wrap {
        width: $webWidth;
        background-color: palevioletred;
        margin: 0 auto;

        ul li:nth-child(1) {
            float: left;
            width: 201px;
            height: 42px;
            margin-left: 55px;
            margin-left: 44px;
            padding-left: 55px;
            background: url(../imges/ia_400000079.png) no-repeat left top;

            b {
                display: block;
                padding-left: 15px;
                color: #007f4d;
                font: normal 18px/25px "Microsoft YaHei";
                border-left: 1px solid #a6a6a6;
            }

            span {
                display: block;
                padding-left: 15px;
                border-left: 1px solid #a6a6a6;
            }
        }

        ul li:nth-child(2) {
            float: left;
            width: 201px;
            height: 42px;
            margin-left: 55px;
            margin-left: 44px;
            padding-left: 55px;
            background: url(../imges/ia_400000079.png) no-repeat  0 -42px;

            b {
                display: block;
                padding-left: 15px;
                color: #007f4d;
                font: normal 18px/25px "Microsoft YaHei";
                border-left: 1px solid #a6a6a6;
            }

            span {
                display: block;
                padding-left: 15px;
                border-left: 1px solid #a6a6a6;
            }
        }

        ul li:nth-child(3) {
            float: left;
            width: 201px;
            height: 42px;
            margin-left: 55px;
            margin-left: 44px;
            padding-left: 55px;
            background: url(../imges/ia_400000079.png) no-repeat  0 -84px;

            b {
                display: block;
                padding-left: 15px;
                color: #007f4d;
                font: normal 18px/25px "Microsoft YaHei";
                border-left: 1px solid #a6a6a6;
            }

            span {
                display: block;
                padding-left: 15px;
                border-left: 1px solid #a6a6a6;
            }
        }

        ul li:nth-child(4) {
            float: left;
            width: 201px;
            height: 42px;
            margin-left: 55px;
            margin-left: 44px;
            padding-left: 55px;
            background: url(../imges/ia_400000079.png)no-repeat  0 -126px;

            b {
                display: block;
                padding-left: 15px;
                color: #007f4d;
                font: normal 18px/25px "Microsoft YaHei";
                border-left: 1px solid #a6a6a6;
            }

            span {
                display: block;
                padding-left: 15px;
                border-left: 1px solid #a6a6a6;
            }
        }
    }
}
#footer-2{
    .wrap{
       
        margin: 50px auto  10px;
        width: $webWidth;

        .col1{ 
              width:190px;
                 float: left;
        margin-left: 50px;
        display: inline;
            dt{
                color: #444444;
                height: 23px;
                line-height: 23px;
                background: url(../imges/ia_400000084.png) no-repeat;
                font-size: 14px;
                text-indent: 40px;
            }
            dd{    border-left: 1px dashed #A8A8A8;
                padding-left: 20px;
                height: 110px;
                min-height: 110px;
                margin: 15px 0 0 13px;
                p{
                    color: #575556;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            }
        .col2{   width: 190px;
        float: left;
        margin-left: 50px;
        display: inline;
            dt{
                color: #444444;
                height: 23px;
                line-height: 23px;
                background: url(../imges/ia_400000084.png) no-repeat 0 -23px;
                font-size: 14px;
                text-indent: 40px;
            }
            dd{    border-left: 1px dashed #A8A8A8;
                padding-left: 20px;
                height: 110px;
                min-height: 110px;
                margin: 15px 0 0 13px;
                p{
                    color: #575556;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            }
        .col3{   width: 190px;
        float: left;
        margin-left: 50px;
        display: inline;
            dt{
                color: #444444;
                height: 23px;
                line-height: 23px;
                background: url(../imges/ia_400000084.png) no-repeat 0 -46px;
                font-size: 14px;
                text-indent: 40px;
            }
            dd{    border-left: 1px dashed #A8A8A8;
                padding-left: 20px;
                height: 110px;
                min-height: 110px;
                margin: 15px 0 0 13px;
                p{
                    color: #575556;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            }
        .col4{   width: 190px;
        float: left;
        margin-left: 50px;
        display: inline;
            dt{
                color: #444444;
                height: 23px;
                line-height: 23px;
                background: url(../imges/ia_400000084.png) no-repeat
                0 -70px;
                font-size: 14px;
                text-indent: 40px;
            }
            dd{    border-left: 1px dashed #A8A8A8;
                padding-left: 20px;
                height: 110px;
                min-height: 110px;
                margin: 15px 0 0 13px;
                p{
                    color: #575556;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            }
        .col5{   width: 190px;
        float: left;
        margin-left: 50px;
        display: inline;
            dt{
                color: #444444;
                height: 23px;
                line-height: 23px;
                background: url(../imges/ia_400000084.png) no-repeat
                0 -94px;
                font-size: 14px;
                text-indent: 40px;
            }
            dd{    border-left: 1px dashed #A8A8A8;
                padding-left: 20px;
                height: 110px;
                min-height: 110px;
                margin: 15px 0 0 13px;
                p{
                    color: #575556;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            }
            .service{
                clear: both;
                text-align: center;
                padding: 60px 0 20px;
                color: #008842;
                font-size: 14px;
                span{
                    clear: both;
                text-align: center;
                padding: 60px 0 20px;
                color: #008842;
                font-size: 14px;
                }
            }
            .copyright{
                clear: both;
                color: #717171;
                text-align: center;
                line-height: 22px;
                font-size: 12px;
            }
    }
}
.sc_goodsPic{

    width: 80px;
    height: 80px;
    border: 1px solid #b6b6b6;
    float: left;
  

}
.sc_goodsPic img{
    width: 100%;
    height: 100%;
}
.sc_goodsTitle{
    line-height: 40px;
    color: #999;
    margin-left: 20px;
    float: left;
}
.sc_goodsBtn{

    background: #fc1934;
    color: #fff;
    text-align: center;
    float: left;
    line-height: 30px;
    width: 60px;
    height: 30px;

    cursor: pointer;

}
.delete_goodsBtn{
    background: blue;
    color: #fff;
    text-align: center;
    float: left;
    line-height: 30px;
  
width: 50px ;
height: 30px;

    
}
.sc_goodsNum{
    float: left;
    line-height: 30px;
    font-size: 10px;
    margin-left: 5px;

    button{
        background-color: $green;
    }
span{
    font-size: 12px;
}
}
.sc_goodsNum button{
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    font-size: 16px;
}
.sc_right li{
    height: 100px;}